.main-nav-down-logo-wrapper {
    .my-week {
        margin-block-end: rem(20px);
        color: #dbdbdb;
        cursor: pointer;
    }
    .invite-members {
        margin-block-end: rem(20px);
        color: #dbdbdb;
        cursor: pointer;
    }
    .search {
        margin-block-end: rem(15px);
        color: #dbdbdb;
        cursor: pointer;
    }
}
