.comments-wrapper{
    background: #fff;
    box-shadow: 5px 1px 16px 2px !important;
    h2{
        padding: rem(20px) rem(10px) rem(0px) rem(15px);
    }
    .x{
        padding: rem(10px);
    }
    .rich-text-editor-wrapper{
        padding: rem(45px) rem(15px) rem(45px) rem(15px);
        border-radius: 10px;
    }
}