.modal {
    position: absolute;
    z-index: 10;
    top: 0;
    left: 0;
    // background: rgba(0, 0, 0, 0.4);
    width: 100vw;
    height: 100vh;

    .btn-add {
        color: white;
        background-color: black;
    }
}
.darkModal {
    background: rgba(63, 62, 62, 0.4);
}
