.board-header-content-wrapper {
    .board-header-view-bar {
        padding: rem(16px) rem(0px) rem(16px) rem(0px);
        .monday-header {
            button {
                padding: rem(1.5px);
                margin-inline-end: rem(15px);
            }
        }
    }
    .board-title {
        font-size: rem(30px);
        padding: rem(3px);
        border: rem(1px) solid transparent;
        &:hover {
            border: rem(1px) dotted lightgray;
        }
    }
    .board-title-edit {
        font-size: rem(30px);
        font-weight: bold;
        padding: rem(3px);
        width: 40vw;
        border: rem(1px) dotted lightgray;
    }
}
