.group-list-wrapper {
    position: absolute;
    z-index: 1;
    overflow-y: scroll;
    height: 80vh;
    .title {
        grid-area: title;
        padding: rem(5px);
    }
    .person {
        grid-area: person;
    }
    .status {
        grid-area: status;
    }
    .date {
        grid-area: date;
    }
    span:not(:first-child) {
        text-align: center;
    }
    input {
        grid-area: last;
    }
}
