.board-layout {
    height: 100vh;
    .board-container {
        color: $primary-text-color;
        padding: rem(14px) rem(30px) rem(0px) rem(30px);
        ul {
            padding: 0;
        }
    }
    .emptypage-logo-wrapper {
        display: flex;
        justify-content: center;
        align-self: center;
        width: 100%;
        .emptypage-img-container {
            width: 900;
            height: 600px;
            margin: 0 auto;
            img {
                width: 100%;
                height: 100%;
            }
        }
    }
}
