.board-layout {
    height: 100vh;
    .board-container {
        padding: rem(14px) rem(30px) rem(0px) rem(30px);
        ul {
            padding: 0;
        }
    }
    .emptypage-logo {
        display: flex;
        justify-items: center;
        align-items: center;
        min-height: rem(912px);
        min-width: rem(1350px);
        margin-inline-start: rem(150px);
        img {
            width: 100%;
        }
    }
}
